/**
* CSS File for index.html 
**/

/** Default fonts. */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Playfair+Display:ital@1&display=swap");

@font-face {
  font-family: theSeasons;
  src: url(../fonts/the-seasons-regular.ttf);
}

@font-face {
  font-family: glaciarIndifference;
  src: url(../fonts/glacial-indifference.regular.otf);
}

@font-face {
  font-family: Amoresa;
  src: url(../fonts/Amoresa.ttf);
}

/** Base CSS for the whole file. This may be overriden per class, id, etc. **/
html,
body {
  width: 100%;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll if you don’t need it */
  font-family: glaciarIndifference;
}

body {
  scroll-behavior: smooth;
  background-color: #f8f8ee;
  color: #6a6926;
}

::selection {
  background: rgb(255, 255, 255);
}

.global-title {
  margin: 45px;
  margin-bottom: 30px;
  font-family: Amoresa;
  color: #6a6926;
}

.divider {
  width: 80%;
}

audio::-webkit-media-controls-panel {
  background-color: #6a6926ca;
}

.index-button {
  border-radius: 25px;
  border-width: 0;
  background-color: #6a6926;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 50px;
  color: #f8f8ee;
}

.index-button:hover {
  background-color: #6a692659;
  color: #ffffffd1;
}

/** CSS for nav-bar. **/
ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(92, 92, 92, 0);
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: theSeasons;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.nav-links li a {
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
  color: black;
}

.nav-links a:hover {
  color: #6a6926;
  font-weight: bold;
  transition: all ease 0.1s;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .toggle-bar {
  height: 3px;
  width: 100%;
  background-color: #6a6926;
  border-radius: 20px;
}

/** CSS for index introduction section (home) **/

.index-introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Amoresa;
  color: #f8f8ee;
}

.index-image-container {
  position: relative;
  display: inline-block;
}

.index-image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.index-introduction .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  text-align: center;
  font-family: Amoresa;
}

.index-introduction h1 {
  width: 100%;
  font-size: 100px;
  font-weight: normal;
}

/** CSS for Welcome container **/
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 0px 20px;
  text-align: center;
  color: #6a6926;
}

.welcome img {
  display: block;
  margin: auto;
  height: 500px;
  width: 400px;
  border-radius: 10%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.welcome audio {
  display: block;
  margin: auto;
}

#playPauseBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #6a6926;
  color: #f8f8ee;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-width: 0;
  text-align: center;
  justify-content: center;
}

/** CSS for RSVP section. **/
.rsvp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.rsvp .rsvp_card {
  height: 80%;
  width: 80%;
}

/** CSS for timeline section. **/
.n-boda {
  margin-top: 35px;
  align-items: center;
}

.timeline {
  margin: 0 auto;
  max-width: max-content;
  padding: 25px;
  display: grid;
  width: 1000px;
  grid-template-columns: auto 3px auto;
  color: #6a6926;
  text-align: center;
}

.timeline__component {
  margin: 10px 10px 10px 10px;
}

.timeline__middle {
  position: relative;
  background: #6a6926;
}

.timeline__date--right {
  text-align: center;
}

.timeline__paragraph {
  line-height: 1;
  text-align: center;
  font-size: 1rem;
}

.timeline__paragraph b {
  font-family: Amoresa;
  font-size: 1.2rem;
  text-decoration: underline;
}

.timeline_button {
  background-color: #6a6926;
  border-radius: 25px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #6a6926;
  border-radius: 50%;
}

.divider-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divider-block img {
  display: block;
  margin: auto;
  width: 30%;
  height: 30%;
}

.divider-block .index-button a {
  color: #f8f8ee;
}

.divider-block .index-button {
  display: block;
  margin: auto;
}

/** CSS for calendar **/

.calendar {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}

.day {
  text-align: center;
  color: #6c6a1e;
  font-size: 1.2em;
}

.label {
  font-weight: 400;
}

.number {
  margin-top: 5px;
  font-size: 1rem;
}

#special {
  color: #db2525;
  font-weight: bolder;
}

/** CSS for countdown section **/
.countdown {
  background-image: url("../images/countdown.png");
  background-position: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 65px;
}

.countdown h1 {
  font-size: 100px;
}

.countdown_container {
  display: flex;
  justify-content: center;
}

.countdown_container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.days_container,
.hours_container,
.minutes_container,
.seconds_container {
  background-color: #6a6926;
  color: #f8f8ee;
  border-radius: 10%;
  margin: 10px;
  height: 150px;
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: Amsterdam;
}

/**
* Responsive CSS for both smartphone devices and special cases.
**/

/** Responsive CSS for smartphones **/
@media screen and (max-device-width: 950px) {
  /** Responsive CSS for the index section (home). **/
  .index-introduction .index-image-container {
    background-image: url("../images/index-home-img.JPG");
    background-position: center;
    background-size: cover;
    height: 90vh;
    overflow: auto;
  }

  .index-introduction .index-image-container img {
    opacity: 0%;
  }

  .welcome img {
    height: 260px;
    width: 210px;
  }

  /** Responsive nav-bar. Might change later on. **/
  .content-area {
    transition: margin-left 0.3s ease;
    margin-right: 0;
    overflow-x: hidden;
  }

  /* When nav active, push content */
  .content-area.shifted {
    margin-right: 250px;
    z-index: 100;
  }

  .toggle-button {
    display: flex;
    position: fixed;
    z-index: 11000;
  }

  /* Update nav-links to slide in from left on mobile */
  .nav-links {
    position: fixed;
    right: -250px;
    top: 0;
    width: 185px;
    height: 100vh;
    background-color: #f8f8ee;
    flex-direction: column;
    padding-top: 3rem;
    transition: right 0.3s ease;
    z-index: 10000;
    opacity: 100%;
  }

  .nav-links.active {
    right: 0; /* slide in */
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-links ul li {
    width: 100%;
    text-align: right;
    margin: 0;
  }

  .nav-links ul li a {
    padding: 1rem;
    display: block;
    width: 100%;
  }

  /** Responsive CSS for the index section (home). **/

  .index-introduction {
    max-width: 100%;
  }

  .index-introduction .overlay-text h1 {
    font-size: 2.5rem;
  }

  .n-boda {
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /** Responsive CSS for wedding timeline section. **/

  .timeline {
    max-width: 90%;
    padding: 1rem;
    grid-template-columns: minmax(0, 1fr) 3px minmax(0, 1fr);
  }

  .timeline img {
    width: 85%;
    height: 85%;
  }

  .timeline__component p {
    max-width: 100%;
    white-space: normal;

    text-align: center;
  }

  .timeline_button {
    width: 40%;
    font-size: 0.8rem;
  }

  /* LEAVE TILL LAST */
  .timeline__point--bottom {
    top: initial;
    bottom: 0;
  }

  /** Resnponsive divider block */
  .divider-block img {
    width: 80%;
  }

  /** Resnponsive countdown */

  .countdown {
    font-size: 45px;
  }

  .countdown h1 {
    font-size: 80px;
  }

  .days_container,
  .hours_container,
  .minutes_container,
  .seconds_container {
    height: 80px;
    width: 80px;
  }
}

/** Special cases: responsive elements only for computers. **/
@media only screen and (min-device-width: 990px) {
  /** Responsive CSS for the index section (home). **/
  .index-introduction .index-image-container {
    background-image: url("../images/index-home-img.JPG");
    height: 800px; /** Manually make div an approximate computer size*/
    background-position: center center; /** Start repeating from the middle*/
    background-size: contain;
    background-repeat: repeat-x;
    transition: all 0.3s ease;
  }

  .index-introduction .index-image-container img {
    opacity: 0%;
    height: 800px; /** Manually make div an approximate computer size*/
  }

  .index-introduction .index-image-container a {
    color: white;
    font-weight: bolder;
    opacity: 100%;
  }

  .index-introduction .index-image-container a:hover {
    color: #f8f8ee;
    text-decoration: underline;
    transition: all 0.5s ease;
  }
}
