<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="icon" type="/x-icon" href="../static/images/AyCFavicon.png" />
    <link rel="stylesheet" href="../static/css/faq_style.css" />
    <script src="../static/js/script.js" defer></script>
    <title>Claudia y Alexis</title>
  </head>

  <body>
    <div class="rsvp_container">
      <nav class="navbar-home">
        <!-- Hamburger toggle button (only after passing max width) -->
        <a href="#" class="toggle-button">
          <span class="toggle-bar"></span>
          <span class="toggle-bar"></span>
          <span class="toggle-bar"></span>
        </a>

        <!-- Navbar menu -->
        <div class="nav-links" id="navLinks">
          <ul>
            <li><a href="/get_party">Home</a></li>
            <li><a href="tel:+17876431485">Contacto</a></li>
            <li><a href="">FAQ</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <main class="wrap">
      <div class="faq-title">
        <center><h1>FAQ</h1></center>
      </div>
      <section class="card">
        <h3>¿Cual es el código de vestimenta?</h3>
        <p>
          El código de vestimenta de nuestra boda es: Formal, Black Tie Optional con colores neutros no cálidos.
        </p>
      </section>
      <section class="card">
        <h3>¿Puedo llevar acompañante?</h3>
        <p>
          Revisa tu invitación en la sección de RSVP: si aparece con “Un(a) invitado(a)” o con
          el nombre de el/la invitado(a), ¡sí!
        </p>
      </section>
      <section class="card">
        <h3>
          ¿Hay estacionamiento disponible en las localidades de las actividades?
        </h3>
        <p>La ceremonia religiosa cuenta con espacios disponibles para estacionar en paralelo en sus alrededores. La recepción cuenta con un estacionamiento amplio para la comodidad de todos los invitados.</p>
      </section>
      <section class="card">
        <h3>¿Hasta cuando tengo para reservar mi espacio?</h3>
        <p>Hasta el Viernes, 20 de Octobre de 2025</p>
      </section>
    </main>
  </body>
</html>
